<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.authenticationservice.dao.UserInfoDao">
    <resultMap id="UserInfoMap" type="com.cloud.authenticationservice.model.MyUser">
        <result column="userName" property="userName"/>
        <result column="password" property="password"/>
        <association property="roles" column="role" javaType="java.lang.String"/>
    </resultMap>

    <select id="queryUserByUsername" resultType="com.cloud.authenticationservice.model.MyUser">
        select
            user_name as userName,
            password as password,
            role as role
        from users u left join user_roles ur on u.user_name = ur.user_name
        where u.user_name = #{username} and enabled = 1
    </select>
</mapper>